<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BudgetTime</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.bmo.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationServlet</display-name>
    <servlet-name>ApplicationServlet</servlet-name>
    <servlet-class>com.bmo.controller.ApplicationServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ContinueController</display-name>
    <servlet-name>ContinueController</servlet-name>
    <servlet-class>com.bmo.controller.ContinueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContinueController</servlet-name>
    <url-pattern>/continue.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitController</display-name>
    <servlet-name>ExitController</servlet-name>
    <servlet-class>com.bmo.controller.ExitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitController</servlet-name>
    <url-pattern>/exit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentController</display-name>
    <servlet-name>ContentController</servlet-name>
    <servlet-class>com.bmo.controller.ContentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentController</servlet-name>
    <url-pattern>/content.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnvelopeController</display-name>
    <servlet-name>EnvelopeController</servlet-name>
    <servlet-class>com.bmo.controller.EnvelopeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnvelopeController</servlet-name>
    <url-pattern>/envelopes.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.bmo.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ActionController</display-name>
    <servlet-name>ActionController</servlet-name>
    <servlet-class>com.bmo.controller.ActionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionController</servlet-name>
    <url-pattern>/action.do</url-pattern>
  </servlet-mapping>
</web-app>